In [ ]:
import numpy as np

In [ ]:
#qsn1

In [ ]:
def count_chars():
  user_input = input("enter a string value: ")
  char_count = {}
  for char in user_input:
    if char in char_count:
      char_count[char] += 1
    else:
      char_count[char] = 1
  for char, count in char_count.items():
    print(f"{char}={count}",end=",")
count_chars()

enter a string value: assambly
a=2,s=2,m=1,b=1,l=1,y=1,

In [ ]:
#qsn2

In [ ]:
data=np.array([34,12,7])
data

array([34, 12,  7])

In [ ]:
data.max()

34

In [ ]:
#qsn3

In [ ]:
base=int(input("enter the base:"))
exp=int(input("enter the exponent:"))
result=(base**exp)
print(result)

enter the base:2
enter the exponent:3
8

In [ ]:
#qsn4

In [ ]:
def sum_of_cubes(n):
  return sum(i**3 for i in range(1,n))
result=sum_of_cubes(4)
print(result)

36

In [ ]:
#Qsn5

In [ ]:

for i in range(1,11):
  if i % 2 == 0 and i % 5 == 0:
     print("FizzBuzz")
  elif i % 2 == 0:
     print("Fizz")
  elif i % 5 == 0:
     print("Buzz")
  else:
     print(i)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
FizzBuzz

In [ ]:
#qsn6

In [ ]:
def most_frequent(numbers):
    return max(set(numbers),key=numbers.count)

numbers = [2, 3, 4, 2, 5, 2]
print(most_frequent(numbers))

2

In [ ]:
#qsn7

In [ ]:
def sum_of_squares(numbers):
    return sum(x**2 for x in numbers)

numbers = [2, 1, 3, 1]
print(sum_of_squares(numbers))

15

In [ ]:
#qsn8

In [ ]:
for i in range(1, 16):
    if i % 2 == 0:
        print(f"{i}-even")
    else:
        print(f"{i}-odd")

1-odd
2-even
3-odd
4-even
5-odd
6-even
7-odd
8-even
9-odd
10-even
11-odd
12-even
13-odd
14-even
15-odd

In [ ]:
#qsn9

In [ ]:
def fahrenheit_to_celsius(f):
    return (f - 32) * 5 / 9

def celsius_to_fahrenheit(c):
    return (c * 9 / 5) + 32

f = 41
c = fahrenheit_to_celsius(f)
print(f"Temperature in Celsius = {c}")

c = 5
f = celsius_to_fahrenheit(c)
print(f"Temperature in Fahrenheit = {f}")

Temperature in Celsius = 5.0
Temperature in Fahrenheit = 41.0

In [ ]:
#qsn10

In [ ]:
def factorial(n):
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result

In [ ]:
print(factorial(3))

6