In [1]:
import math

#qsn1

In [2]:
radius=float(input("enter the radius:"))
area=math.pi*radius**2
print(f"Area of circle is {area:.2f}")

enter the radius:3
Area of circle is 28.27

qsn2

In [3]:

name= input("enter the students name:")
roll_number=input("enter the students roll number:")
mark=input("enter the student mark:")
print("student details:")
print(f"name:{name}")
print(f"roll number:{roll_number}")
print(f"mark:{mark}")

enter the students name:anisha
enter the students roll number:21
enter the student mark:78
student details:
name:anisha
roll number:21
mark:78

qsn3

In [4]:
def find_largest(numbers):
    largest = max(numbers)
    return largest

numbers = [12, 3, 47, 10]
largest_number = find_largest(numbers)
print(f"{largest_number} is the largest number.")

47 is the largest number.

Qsn4

In [5]:
previous_num = 0
for current_num in range(1, 11):
    print(f"Current Number {current_num} Previous Number {previous_num} Sum: {current_num + previous_num}")
    previous_num = current_num

Current Number 1 Previous Number 0 Sum: 1
Current Number 2 Previous Number 1 Sum: 3
Current Number 3 Previous Number 2 Sum: 5
Current Number 4 Previous Number 3 Sum: 7
Current Number 5 Previous Number 4 Sum: 9
Current Number 6 Previous Number 5 Sum: 11
Current Number 7 Previous Number 6 Sum: 13
Current Number 8 Previous Number 7 Sum: 15
Current Number 9 Previous Number 8 Sum: 17
Current Number 10 Previous Number 9 Sum: 19

Qsn5

In [6]:
numbers = [10, 20, 33, 46, 55]
for num in numbers:
    if num % 5 == 0:
        print(num)

10
20
55

Qsn6

In [7]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

num = int(input("Enter the number: "))
if is_prime(num):
    print(f"{num} is a prime number.")
else:
    print(f"{num} is not a prime number.")

Enter the number: 3
3 is a prime number.

Qsn7

In [8]:
def reverse_list(input_list):
    reversed_list = []
    for i in range(len(input_list) - 1, -1, -1):
        reversed_list.append(input_list[i])
    return reversed_list

input_list = [10, 40, 30, 70]
reversed_list = reverse_list(input_list)
print(reversed_list)

[70, 30, 40, 10]

Qsn8

In [9]:
for i in range(1, 5):
    print("*" * i)

*
**
***
****

Qsn 9

In [11]:
def find_max(a, b, c):
    if a >= b and a >= c:
        return a
    elif b >= a and b >= c:
        return b
    else:
        return c

a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

max_num = find_max(a, b, c)
print("Maximum number is:", max_num)

Enter first number: 34
Enter second number: 56
Enter third number: 75
Maximum number is: 75

qsn10

In [12]:
for i in range(1,6):
  for j in range(i):
    print("*",end=" ")
  print()
for i in range(4,0,-1):
  for j in range(i):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*